repos:
  - repo: local

    hooks:
      - id: autoflake
        name: autoflake 
        entry: autoflake
        language: system
        types: [python]
        args: [--in-place, --remove-all-unused-imports, --remove-duplicate-keys,]

      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [--line-length=79, --target-version=py310]
      
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: [
          "--ignore=E501,W503",
        ]